@model TransactionsViewModel
@{
    ViewData["Title"] = "Transactions";
}

<h1>Register Transaction</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <input type="hidden" asp-for="AccountId" />
    <div class="mb-3">
        <label asp-for="Total" class="form-label"></label>
        <input type="text" asp-for="Total" class="form-control" />
        <span asp-validation-for="Total" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="OperationTypeId" class="form-label"></label>
        <select asp-for="OperationTypeId" asp-items="Model.OperationTypes" class="form-select"></select>
        <span asp-validation-for="OperationTypeId" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="TransactionDate" class="form-label"></label>
        <input asp-for="TransactionDate" class="form-control" />
        <span asp-validation-for="TransactionDate" class="text-danger"> </span>
    </div>
   
    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        const urlGetCategories = '@Url.Action("GetCategories")';

        $(function(){
            $("#OperationTypeId").change(async function(){
                const selectValue = $(this).val();
                const response = await fetch(urlGetCategories, {
                    method:'POST',
                    body: selectValue,
                    headers: {
                        'Content-Type' : 'application/json' 
                    }
                });

                const json = await response.json();
                const options = json.map(category => `<option value=${category.value}>${category.text}</option>`);
                $("#CategoryId").html(options);
            })
        })
    </script>
}