@model Users

@{
    ViewData["Title"] = "Modify User";
}

<h1>Modify user: @Model.Email</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Modify">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="StandarEmail" class="form-label"></label>
        <input type="email" asp-for="StandarEmail" class="form-control" />
        <span asp-validation-for="StandarEmail" class="text-danger"> </span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"> </span>
    </div>
    <button type="submit" class="btn btn-primary">Modify</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}