@model IEnumerable<AccountTypes>

@{
    ViewData["Title"] = "Account Types";
}

<h1>Account Types List</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Create account type</a>

<table class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var accountTypes in Model)
        {
            <tr>
                <td>
                    <input type="hidden" value="@accountTypes.Id" class="ids" />
                    <a class="btn btn-primary" asp-action="Modify" asp-route-id="@accountTypes.Id"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@accountTypes.Id"><i class="bi bi-trash"></i></a>
                </td>
                <td>
                    @accountTypes.Name
                </td>

            </tr>
        }
    </tbody>
</table>