@model AccountTypes

@{
    ViewData["Title"] = "Modify Account Types";
}

<h1>Modify account type: @Model.Name</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Modify">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Modify</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}